html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}
#outer-container {
	display: table;
	width: 100%;
	height: 100%;
}

#navbar {
	display: table-cell;
	width: 20%;
    vertical-align: top;
    background-color: pink;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main-doc {
	display: table-cell;
	width: 85%;
    vertical-align: top;
    background-color: yellow;
}